.form {
	&__row {
		margin-bottom: 15px;

		.btn,
		input:not([type]),
		input[type=datetime],
		input[type=email],
		input[type=number],
		input[type=password],
		input[type=search],
		input[type=tel],
		input[type=text],
		input[type=url],
		textarea {
			width: 100%;
		}

		textarea {
			max-width: 100%;
			max-width: 100%;
			min-height: 15px;
		}
	}

	&__label {}
}
// Input text and textarea ================================================
input:not([type]),
input[type=datetime],
input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=url],
textarea {
	background-color: $input_bg_color;
	border: 1px solid $input_border_color;
	padding: 6px 15px;
	outline: none;
	font-size: 16px;
	font-weight: 300;
	font-family: $main_font_family;
	border-radius: 5px;
	transition: all 0.3s;

	&:hover {
		border: 1px solid $input_hover_border_color;
		background-color: $input_hover_bg_color;
	}

	&:focus {
		border: 1px solid $input_focus_border_color;
		background-color: $input_focus_bg_color;
	}

	&.invalid {
		background-color: #fff0f0;
		border: 1px solid red;
	}
	// Placeholder for input +++++++++++++++
	@include placeholder {
		color: #ddd;
	}
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
	-webkit-appearance: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	height: auto;
}

// Input checkbox and radio ===============================================
input[type=checkbox],
input[type=radio] {
	padding: 0;
	display: inline-block;
	height: 14px;
	width: 14px;
	border: 1px solid #aaa;
	overflow: hidden;
	margin-top: -4px;
	vertical-align: middle;
	-webkit-appearance: none;
	outline: 0;
	background: 0 0;
	text-align: center;
	position: relative;
	flex: none;

	&:not(:disabled),
	&:not(:disabled) {
		cursor: pointer;
	}

	&:before,
	&:before {
		display: block;
	}

	&:disabled,
	&:disabled {
		border-color: #ddd;
	}
}

input[type=radio] {
	border-radius: 50%;

	&:checked:before {
		content: '';
		width: 6px;
		height: 6px;
		top: 50%;
		left: 50%;
		margin-top: -3px;
		margin-left: -3px;
		display: block;
		position: absolute;
		border-radius: 50%;
		background: #000;
	}

	&:disabled:checked:before {
		background-color: #aaa;
	}
}

input[type=checkbox] {
	&:checked:before,
	&:indeterminate:before {
		content: "\2714";
		font-size: 12px;
		-webkit-font-smoothing: antialiased;
		text-align: center;
		line-height: 13px;
		color: #000;
	}

	&:indeterminate:before {
		content: "\f068";
	}

	&:disabled:checked:before,
	&:disabled:indeterminate:before {
		color: #aaa;
	}
}
