/* Navbar
-------------------------------------------------------------------------------*/
.navbar {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;

	&__item {
		// display: inline-block;
		margin: 5px;
	}

	&__link {}

	&__toggle {
		@media (max-width: 767px) {
			position: absolute;
			color: #00aed4;
			border-top: 0.2em solid;
			border-bottom: 0.2em solid;
			left: 1.3em;
			top: 1.3em;
			width: 2em;
			height: 1.5em;
			cursor: pointer;
			z-index: 51;
			transition: border-color 0.3s;

			&:after,
			&:before {
				content: '';
				position: absolute;
				border-top: 0.2em solid;
				width: 100%;
				left: 0;
				top: 50%;
				margin-top: -0.1em;
				transition: transform 0.3s;
			}

			&.active {
				border-top-color: transparent;
				border-bottom-color: transparent;

				&:before {
					transform: rotate(45deg);
				}

				&:after {
					transform: rotate(-45deg);
				}
			}

			&:hover {
				// color: rgba($color_withe, .8);
			}
		}
	}
}

@media (max-width: 767px) {
	.nav {
		position: fixed;
		left: -300px;
		top: 0;
		bottom: 0;
		background-color: $color_withe;
		width: 300px;
		z-index: 10;
		overflow: hidden;
		padding: 5em 1em 2em;
		transition: left 0.3s;
		box-shadow: 0 0 1em rgba(#000, .1);

		&.open {
			left: 0;
		}
	}
}
