// Pagination ==================================================================
.pagination {
	margin: 25px 0;
	padding: 0;
	li {
		display: inline-block;
		a {
			display: block;
			text-align: center;
		}
		&.prev, &.next {
			a {
				&:before {					
				}
			}
		}
		&.prev {
			a {
				&:before {
					content: '<';
					
				}
			}
		}
		&.next {
			a {
				&:before {
					content: '>';
					
				}
			}
		}
	}
}
