// Main wrappers =====================================

body {
	display: flex;
	flex-direction: column;
	font-size: calc(.034 * 100vw + 0px);
	height: auto;
	min-height: 100%;
	// color: $color_withe;

	// background-color: #101010;

	@media (min-width: 768px) {
		font-size: calc(.012 * 100vw + 0px);
	}

	@media (min-width: 1400px) {
		font-size: calc(.00838 * 100vw + 0px);
	}

	@media (min-width: 1600px) {
		font-size: calc(.00838 * 100vw + 0px);
	}

}

.wrapper {
	font-size: $main_font_size;
	// margin: 0 auto (-$footer_height); // отрицательный нижний отступ на высоту футера
}

/* Middle
 ----------------------------------------------------------------------------- */
.main_content {
	flex-grow: 1;
	// padding-bottom: $footer_height;
	// @extend %clear_a;
}

.container_center {
	max-width: $container_width;
	padding: 0 1em;
	margin-left: auto;
	margin-right: auto;
}

.desktop {
	@media (max-width: 767px) {
		display: none !important;
	}
}

.mobile {
	@media (min-width: 768px) {
		display: none !important;
	}
}
